<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hiến máu nhân đạo</title>
    <link rel="icon" href="~/Assets/client/img/logo6.png">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/Assets/client/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/style.css">

    @*<link href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/Assets/Admin/css/main.css" rel="stylesheet">
        <link href="~/FileUpLoad">
        <link rel="icon" href="~/Assets/Login/img/favoicon.png">*@
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/Home/Index#"> <img src="~/Assets/client/img/logo6.png" alt="logo"> <span class="about_us_text">Hiến máu nhân đạo</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Home/Index#">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/DotHienMau/Index">Đợt hiến máu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="donViLienKet.html">Đơn vị liên kết</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/NguoiDung/Index">Liên hệ</a>
                                </li>                              
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/DangKyTK/NguoiDung" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Đăng ký
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/DangKyTK/NguoiDung">Đăng ký thành viên</a>
                                        <a class="dropdown-item" href="/DangKyTK/DonVi">Đăng ký đối tác</a>
                                        <a class="dropdown-item" href="/DangKyTK/BenhVien">Đăng ký bệnh viện</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        @{
                            var session5 = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
                        }
                        @if (session5 == null)
                        {
                            <a class="btn_2 d-none d-lg-block" href="/LoginClient/Index">Đăng Nhập</a>
                        }
                        else
                        {
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item dropdown">
                                    <h5 class="nav-link dropdown-toggle" href="dangKy.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Xin chào: @session5.Accounts
                                    </h5>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <h6 class="dropdown-item"> <a href="/NguoiDung/Index"> Cá nhân</a></h6>
                                        <h6 style="margin-left:20px"> @Html.ActionLink("Đăng xuất", "Logout", "LoginClient")</h6>
                                    </div>
                                </li>
                            </ul>
                        }

                        @*<a class="btn_2 d-none d-lg-block" href="/Client/LoginClient/Index">Đăng Nhập</a>
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="dangKy.html" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Name
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="dkThanhVien.html">Cá nhân</a>
                                        <a class="dropdown-item" href="dkDoiTac.html">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>*@
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- footer part end-->
    <!-- jquery plugins here-->
    <footer class="footer-area">
        <div class="footer section_padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
                        <a href="#" class="footer_logo"> <img src="~/Assets/client/img/logo3.png" alt="#"> </a>
                        <p>Website phi lợi nhuận </p>
                        <div class="social_logo">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"> <i class="ti-twitter"></i> </a>
                            <a href="#"><i class="ti-instagram"></i></a>
                            <a href="#"><i class="ti-skype"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>Liên hệ</h4>
                        <ul>
                            <li class="ti-tablet"><a href="/Admin/Login/Index">  0375163016</a></li>
                            <li class="ti-email"><a href="#">  knvolap@gmail.com</a></li>
                            <li class="ti-home"><a href="#"> 48 Cao Thắng - Hải Châu Đà Nẵng</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>Về chúng tôi</h4>
                        <ul>
                            <li><a href="#">Giới thiệu bệnh viện</a></li>
                            <li><a href="#">Đơn vị liên kết</a></li>
                            <li><a href="#">Đơn vị chịu trách nhiệm</a></li>
                            <li><a href="#">Hệ thống quản lý</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-6 single-footer-widget">
                        <h4>Dịch vụ</h4>
                        <ul>
                            <li><a href="#">Tìm nguồn máu</a></li>
                            <li><a href="#">Khám sức khỏe tổng quát</a></li>
                            <li><a href="/Admin/Login/Index">Dịch vụ khác</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
                        <h4>Đăng ký nhận bản tin</h4>
                        <div class="form-wrap" id="mc_embed_signup">
                            <form target="_blank"
                                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Nhập Email của bạn"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                       required="" type="email">
                                <button class="click-btn btn btn-default text-uppercase">
                                    <i class="ti-angle-right"></i>
                                </button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                           type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright_part">
            <div class="container">
                <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Edit by |  Kn Võ Lập  <i class="ti-heart" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"> <i class="ti-twitter"></i> </a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Assets/client/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/Assets/client/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <script src="~/Assets/client/js/jquery.nice-select.min.js"></script>
    <!-- contact js -->
    <script src="~/Assets/client/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Assets/client/js/jquery.form.js"></script>
    <script src="~/Assets/client/js/jquery.validate.min.js"></script>
    <script src="~/Assets/client/js/mail-script.js"></script>
    <script src="~/Assets/client/js/contact.js"></script>
    <!-- custom js -->
    <script src="~/Assets/client/js/custom.js"></script>


    @RenderSection("ClientScript", false)
</body>

</html>

@*<script type="text/javascript" src="~/Assets/Admin/scripts/main.js"></script>*@
@*<script src="~/Assets/Admin/scripts/userController.js"></script>*@
@*@{
        var session6 = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
    }
    @if (session6.AuthorID == "Q03" || session6.AuthorID == "Q04" || session6.AuthorID == "Q05" || session6.AuthorID == "Q06")
    {

            <h6 class="nav-link" href="/Client/LoginClient/Mgs"> Đăng ký</h6>

    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="dangKy.html" id="navbarDropdown_1"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Đăng ký
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                <a class="dropdown-item" href="dkThanhVien.html">Đăng ký thành viên</a>
                <a class="dropdown-item" href="dkDoiTac.html">Đăng ký đối tác</a>
                <a class="dropdown-item" href="dkBenhVien.html">Đăng ký bệnh viện</a>
            </div>
        </li>
    }*@
