
@{
    ViewBag.Title = "Hiến máu nhân đạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header part end-->
<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-xl-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>HIẾN MÁU NHÂN ĐẠO </h5>
                        <h2>
                            NGHĨA CỬ CAO ĐẸP CỦA NGƯỜI VIỆT NAM
                        </h2>
                        <p>
                            Nếu bạn cắt đi một cành cây, chỉ ít lâu sau thôi tại chỗ đó sẽ mọc lên 2 ngọn cây mới.
                            Đừng lo lắng vì lượng máu mình đã mất đi sau khi hiến. Mỗi lần cho máu là mỗi lần cơ thể bạn được kích thích quá trình tái tạo máu mới.
                            Vì vậy hãy cố gắng kết hợp ăn uống và sinh hoạt điều độ, sức khoẻ bạn sẽ tăng lên rất nhiều đấy.
                            Tham gia hiến máu cũng là một cách để bạn kiểm tra sức khoẻ.
                        </p>
                        <a href="#" class="btn_2">Tham gia ngay</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner_img">
                    <img src="~/Assets/client/img/banner_img2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Lợi ích-->
<section class="feature_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Lợi ích </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-3 col-sm-12">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/Assets/client/img/icon/giotmau2.svg" alt=""></span>
                        <h4>Tái tạo các tế bào máu mới</h4>
                        <p>
                            Sau khi hiến máu, cơ thể sẽ hoạt động để bổ sung lại lượng máu đã mất.
                            Điều này sẽ kích thích quá trình sản sinh các tế bào máu mới và nhờ đó,
                            các tế bào mới sẽ luân phiên giúp duy trì cơ thể luôn khỏe mạnh.
                        </p>
                    </div>
                </div>
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/Assets/client/img/icon/suckhoe.svg" alt=""></span>
                        <h4>Giảm tỷ lệ ung thư</h4>
                        <p>
                            Hiến máu cũng có thể giúp giảm nguy cơ mắc các bệnh ung thư.
                            Bằng cách hiến máu, hàm lượng sắt tích tụ trong cơ thể sẽ được duy trì ở mức lành mạnh có lợi cho sức khỏe.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="single_feature_img">
                    <img src="~/Assets/client/img/service.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/Assets/client/img/icon/suckhoe2.svg" alt=""></span>
                        <h4>Đốt cháy calo</h4>
                        <p>
                            Mỗi lần hiến máu cơ thể bạn sẽ tiêu tốn khoảng 650 – 700 Kcal.
                            Cân nặng của bạn có liên quan tới việc hấp thu calo và vì vậy, hiến máu có thể hỗ trợ bạn kiểm soát cân nặng.
                        </p>
                    </div>
                </div>
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><img src="~/Assets/client/img/icon/traitim1.svg" alt=""></span>
                        <h4>Giảm nguy cơ mắc bệnh tim mạch</h4>
                        <p>
                            Hiến máu có tác dụng tích cực trong việc làm
                            giảm nguy cơ mắc các bệnh tim mạch và gan do tình trạng cơ thể thừa sắt quá mức gây ra.
                            Một chế độ ăn uống giàu sắt có thể làm tăng nồng độ sắt trong máu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Điều kiện tham gia-->
<section class="our_depertment section_padding">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-12">
                <div class="depertment_content">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <h2>Điều kiện tham gia</h2>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_our_depertment">
                                        <span class="our_depertment_icon">
                                            <img src="~/Assets/client/img/icon/feature_2.svg"
                                                 alt="">
                                        </span>
                                        <h4>Tất cả mọi người</h4>
                                        <p>
                                            Độ tuổi quy định 18 - 60 tuổi.
                                            Hãy tham gia ngay khi bạn là một công dân trẻ tuổi.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_our_depertment">
                                        <span class="our_depertment_icon">
                                            <img src="~/Assets/client/img/icon/feature_2.svg"
                                                 alt="">
                                        </span>
                                        <h4>Thể trạng</h4>
                                        <p>
                                            Cân nặng ít nhất là 42kg đối với phụ nữ, 45kg đối với nam giới.
                                            Lượng máu hiến mỗi lần không quá 9ml/kg cân nặng và không quá 500ml mỗi lần.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_our_depertment">
                                        <span class="our_depertment_icon">
                                            <img src="~/Assets/client/img/icon/feature_2.svg"
                                                 alt="">
                                        </span>
                                        <h4>Better Future</h4>
                                        <p>
                                            Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_our_depertment">
                                        <span class="our_depertment_icon">
                                            <img src="~/Assets/client/img/icon/feature_2.svg"
                                                 alt="">
                                        </span>
                                        <h4>Better Future</h4>
                                        <p>
                                            Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- our depertment part end-->
<!--::doctor_part start::-->
<section class="doctor_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2> Thành viên tiêu biểu</h2>
                    @*<p>Họ đã đứng ra kêu gọi mọi người tham gia hết mình</p>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Assets/client/img/doctor/lap.jpg" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/knvolap/"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Kn Võ Lập</h3>
                            <p>Tham gia 10 lần</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Assets/client/img/doctor/lap2.jpg" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/nguyenhuy1412oneD"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Ngọc Huy</h3>
                            <p>Tham gia 10 lần</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Assets/client/img/doctor/nhan2.jpg" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/nguyen.nhan2110"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Trọng Nhân</h3>
                            <p>Tham gia 10 lần</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="~/Assets/client/img/doctor/ro2.jpg" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Ronaldo</h3>
                            <p>Tham gia 10 lần</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::doctor_part end::-->
<!--::blog_part start::-->
<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Đợt hiến máu</h2>
                </div>
            </div>
        </div>
        <article class="blog_item">
            <div class="blog_item_img">
                <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="">
                <a href="#" class="blog_item_date">
                    <h3>15</h3>
                    <p>Jan</p>
                </a>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="single-blog.html">
                    <h2>Hiến máu nhân đạo lần thứ 10</h2>
                </a>
                <p>Nhằm hưởng ứng phong trào hiến máu tình nguyện trên địa bàn thành phố.</p>
                <ul class="blog-info-link">
                    <li>
                        <a href="dangKyThamGia.html" class="genric-btn info radius">Đăng ký</a>
                    </li>
                  
                </ul>
            </div>
        </article>
        <article class="blog_item">
            <div class="blog_item_img">
                <img class="card-img rounded-0" src="~/Assets/client/img/blog/single_blog_10.png" alt="">
                <a href="#" class="blog_item_date">
                    <h3>15</h3>
                    <p>Jan</p>
                </a>
            </div>
            <div class="blog_details">
                <a class="d-inline-block" href="single-blog.html">
                    <h2>Hiến máu nhân đạo lần thứ 10</h2>
                </a>
                <p>Nhằm hưởng ứng phong trào hiến máu tình nguyện trên địa bàn thành phố.</p>
                <ul class="blog-info-link">
                    <li>
                        <a href="dangKyThamGia.html" class="genric-btn info radius">Đăng ký</a>
                    </li>
                   
                </ul>
            </div>
        </article>
    </div>
   
</section>


@section ClientScript
    {
}