@model HiemMauNhanDao.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="regervation_part section_padding">
    <div class="container">
        <div class="row align-items-center regervation_content">
            <div class="col-lg-7">
                <div class="regervation_part_iner">
                    <form>
                        <div>
                            <div class="section_tittle text-center">
                                <!--      <h2> Đăng nhập</h2>              -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="">
                                <input type="password" class="form-control" id="inputPassword4" placeholder="">

                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="">
                                <input type="password" class="form-control" id="inputPassword4" placeholder="">

                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="">
                                <input type="password" class="form-control" id="inputPassword4" placeholder="">

                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">


                            </div>
                        </div>
                        <div class="regerv_btn">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_depertment section_padding">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-12">
                <div class="depertment_content">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 m-auto">
                            @using (Html.BeginForm("Index", "LoginClient", FormMethod.Post))
                            {
                                <div class="col-8  m-auto">
                                    @Html.AntiForgeryToken()
                                    <h2 class="text-center">Đăng nhập</h2>
                                    <form>
                                        <div class="form-group">
                                            <h4>Tài khoản</h4>
                                            @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nhập email của bạn">*@
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "nhập email của bạn", @autofocus = "autofocus", type = "email" })
                                        </div>
                                        <div class="form-group">
                                            <h4>Mật khẩu</h4>
                                            @* <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" nhập mật khẩu">*@
                                            @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control", @placeholder = "mật khẩu", type = "password" })
                                        </div>
                                        <div class="text-center">
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-check" style="margin-top:10px">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Lưu mật khẩu</label>
                                            <a style="margin-left:250px" href="#">Quên mật khẩu</a>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top:20px">Đăng nhập</button>
                                        </div>

                                    </form>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
