
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="breadcrumb_part breadcrumb_bg"style="margin-bottom:50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h1>ERROR</h1>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="text-center"margin-bottom:100px">   
    <div class="breadcrumb_iner_item">
        <h3>Bạn không có quyền truy cập chức năng này !!!</h3>
        <h3>Vui lòng kiểm tra quyền của tài khoản</h3>
        <h3>Vui lòng đăng nhập lại !!!</h3>
    </div>
</div>

