
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Đợt hiến máu</h4>
    <ul class="list cat-list">
        <li>
            <a href="#" class="d-flex">
                <p>2021</p>
                <p>(37)</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex">
                <p>2020</p>
                <p>(14)</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex">
                <p>2019</p>
                <p>(13)</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex">
                <p>2018</p>
                <p>(10)</p>
            </a>
        </li>

    </ul>
</aside>


 
<aside class="single_sidebar_widget popular_post_widget" style="height:500px ; overflow-y:auto">
    <h3 class="widget_title">Đơn vị liên kết</h3>
    <div class="media post_item" >
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>ĐH Sư Phạm Kỹ Thuật</h3>
            </a>
            <div>
                Email: <a>spkt@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
            <div >
                ĐC: <a style="width: 100px;  width: 50px;text-overflow: ellipsis">48 Cao thắng - Hải Châu </a>
            </div>
        </div>
    </div>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>ĐH Kinh Tế</h3>
            </a>
            <div>
                Email: <a>kt@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>ĐH Sư Phạm</h3>
            </a>
            <div>
                Email: <a>ufl@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>CT TNHH</h3>
            </a>
            <div>
                Email: <a>spkt@ute.udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
</aside>

<aside class="single_sidebar_widget popular_post_widget" style="height:500px ; overflow-y:auto">
    <h3 class="widget_title">Bệnh viện </h3>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Bệnh Viện Đa Khoa</h3>
            </a>
            <div>
                Email: <a>spkt@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Bệnh viên Ung Bứu</h3>
            </a>
            <div>
                Email: <a>kt@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Bệnh viện gia đình</h3>
            </a>
            <div>
                Email: <a>ufl@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
    <div class="media post_item">
        <img src="~/Assets/client/img/post/post_9.png" alt="post">
        <div class="media-body">
            <a href="single-blog.html">
                <h3>Bệnh viện gia đình</h3>
            </a>
            <div>
                Email: <a>ufl@udn.vn</a>
            </div>
            <div>
                ĐT: <a>0511 3822 571</a>
            </div>
        </div>
    </div>
</aside>



<aside class="single_sidebar_widget instagram_feeds">
    <h4 class="widget_title">Ảnh tham gia</h4>
    <ul class="instagram_row flex-wrap">
        <li>
            <a href="#">
                <img class="img-fluid" src="~/Assets/client/hm/hm6.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-fluid" src="~/Assets/client/hm/hm4.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-fluid" src="~/Assets/client/hm/hm2.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-fluid" src="~/Assets/client/hm/hm5.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-fluid" src="~/Assets/client/hm/hm1.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-fluid" src="~/Assets/client/hm/hm1.jpg" alt="">
            </a>
        </li>
    </ul>
</aside>
