
@{
    ViewBag.Title = "DKTC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đăng ký đợt hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="col-lg-12 col-md-8">
                    <hr>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Tìm kiếm</h5>
                            <form class="">
                                <div class="form-row">
                                    <table class="mt-10">
                                        <th style="width:400px">
                                            <input type="email" name="EMAIL" placeholder="Nội dung"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nội dung '" required
                                                   class="single-input">
                                            @*<input name="searchString1" value="@ViewBag.SearchString1" id="exampleCity" type="text" class="form-control">*@
                                        </th>
                                        <th class="col-lg-6">
                                            <div>
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value=" 1">Đợt hiến máu</option>
                                                        <option value="1">Chưa chọn</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 10</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 11</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 12</option>
                                                        <option value="1">Hiến máu nhân đạo tháng 01</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </th>
                                    </table>
                                    <table class="mt-10">
                                        <th style="width:400px">
                                            <div>
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value=" 1">Bệnh viện</option>
                                                        <option value="1">Chưa chọn</option>
                                                        <option value="1">Bệnh viện Đa Khoa</option>
                                                        <option value="1">ĐH Kinh tế</option>
                                                        <option value="1">ĐH sư phạm</option>
                                                        <option value="1">CT TNHH</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="col-lg-6">
                                            <div>
                                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                                <div class="form-select" id="default-select_1">
                                                    <select>
                                                        <option value=" 1">Đơn vị liên kết</option>
                                                        <option value="1">Chưa chọn</option>
                                                        <option value="1">ĐH Sư phạm kỹ thuật</option>
                                                        <option value="1">ĐH Kinh tế</option>
                                                        <option value="1">ĐH sư phạm</option>
                                                        <option value="1">CT TNHH</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </th>
                                    </table>
                                </div>
                                <div>
                                    <button type="submit" class="mt-2 btn btn-primary">
                                        <i class="fa fa-search"></i> Tìm kiếm
                                    </button>

                                    <button class="mb-2  btn btn-outline-danger" style="margin-top:18px"><i class="fa fa-times-circle"></i> Huỷ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    @*Thêm đợt*@
                    <ul></ul>

                    <div class="whole-wrap">
                        <h3 class=" ">Đợt hiến máu</h3>
                        <hr />
                        <div class="container box_1170">

                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Assets/client/img/elements/dh.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-9 mt-sm-20">
                                    <p> <a> Phong trào hiến máu quý 4</a></p>
                                    <p>Nội dung </p>
                                    <p>Thời gian bắt đầu</p>   <p>Thời gian kết thúc </p>

                                </div>
                                <table>
                                    <th style="width:500px">
                                    </th>
                                    <th class="col-lg-8">
                                        <a style=" margin-top: 10px; float:right " href="#" class="genric-btn primary-border radius">Đăng ký tham gia</a>
                                    </th>
                                </table>

                            </div>
                            <hr />


                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/Assets/client/img/elements/dh.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-9 mt-sm-20">
                                    <p> <a> Phong trào hiến máu quý 4</a></p>
                                    <p>Nội dung </p>
                                    <p>Thời gian bắt đầu</p>   <p>Thời gian kết thúc </p>

                                </div>
                                <table>
                                    <th style="width:500px">
                                    </th>
                                    <th class="col-lg-8">
                                        <a style=" margin-top: 10px; float:right " href="#" class="genric-btn primary-border radius">Đăng ký tham gia</a>
                                    </th>
                                </table>

                            </div>
                            <hr />

                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Nhập nội dung'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập nội dung'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">
                                Tìm kiếm
                            </button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Đợt hiến máu</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>2021</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>2020</p>
                                    <p>(14)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>2019</p>
                                    <p>(13)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>2018</p>
                                    <p>(10)</p>
                                </a>
                            </li>

                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Thông tin khác</h3>
                        <div class="media post_item">
                            <img src="~/Assets/client/img/post/post_9.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Assets/client/img/post/post_7.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Assets/client/img/post/post_4.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Assets/client/img/post/post_1.png" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Ảnh tham gia</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Assets/client/hm/hm6.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Assets/client/hm/hm4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Assets/client/hm/hm2.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Assets/client/hm/hm5.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Assets/client/hm/hm1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Assets/client/hm/hm1.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>





                    @*<aside class="single_sidebar_widget newsletter_widget">
                    <h4 class="widget_title">Newsletter</h4>

                    <form action="#">
                        <div class="form-group">
                            <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                type="submit">
                            Subscribe
                        </button>
                    </form>
                </aside>*@
                </div>
            </div>
        </div>


    </div>

</section>
