@model Models.EF.PhieuDKHM
@{
    ViewBag.Title = "Đăng ký hiến máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tham gia hiến máu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row ">
                <div class="col-lg-12 col-md-12 ">
                    <label class="col-md-9">
                        <h3>Nội dung</h3>
                    </label>
                    <label class="col-md-1 align-items-center">
                        <h3>Có </h3>
                    </label>
                    <label class="">
                        <h3> Không </h3>
                    </label>
                    <form action="#">
                        <hr>
                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);"> 1/ Trước đây quý vị đã từng hiến máu chưa ?</b>
                                </p>
                            </label>

                            <label class="col-lg-1">
                                
                                <input class="primary-radio" type="radio" name="r1" style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                            <label class="col-md-1">
                             
                                <input class="primary-radio" type="radio" name="r1" style="height: 20px; width: 20px;vertical-align: middle">
                                
                            </label>

                        </div>

                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);">2/ Từ nhỏ quý vị có bị các bệnh mãn tính:</b> Thấp
                                    khớp,
                                    chảy máu tiêu hóa, viêm gan vàng da, bệnh tiêm, huyết áp thấp/cao,
                                    bệnh thận, ho kéo dài, lao, ung thư...?
                                </p>
                            </label>
                            <label class="col-lg-1">

                                <input class="primary-radio" type="radio" name="r2"style="height: 20px; width: 20px;vertical-align: middle">

                            </label>
                            <label class="col-md-1">

                                <input class="primary-radio" type="radio" name="r2" style="height: 20px; width: 20px;vertical-align: middle">

                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);">3/ Trong vòng 6 tháng gần đây, quý vị có: </b>
                                </p>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Sút cân > 4 kg không rõ nguyên nhân ?</p>
                            </label>

                            <label class="col-lg-1">
                               
                                <input class="primary-radio" type="radio" name="r3" style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                            <label class="col-md-1">
                               
                                    <input class="primary-radio" type="radio" name="r3"style="height: 20px; width: 20px;vertical-align: middle">
                                
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Nổi hạch kéo dài?</p>
                            </label>
                            <label class="col-lg-1">
                               
                                <input class="primary-radio" type="radio" name="r4" style="height: 20px; width: 20px;vertical-align: middle">
                              
                            </label>
                            <label class="col-md-1">
                                
                                    <input class="primary-radio" type="radio" name="r4"style="height: 20px; width: 20px;vertical-align: middle">
                              
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Xăm mình, xỏ lỗi qua da (tai, mũi...)</p>
                            </label>
                            <label class="col-lg-1">
                               
                                    <input class="primary-radio" type="radio" name="r5"style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                            <label class="col-md-1">
                               
                                    <input class="primary-radio" type="radio" name="r5"style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Được truyền máu hay chế phẩm máu</p>
                            </label>
                            <label class="col-lg-1">
                              
                                    <input class="primary-radio" type="radio" name="r9"style="height: 20px; width: 20px;vertical-align: middle">
                              
                            </label>
                            <label class="col-md-1">
                               
                                    <input class="primary-radio" type="radio" name="r9"style="height: 20px; width: 20px;vertical-align: middle">
                              
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Sử dụng ma túy, tiêm chích</p>
                            </label>
                            <label class="col-lg-1">
                              
                                    <input class="primary-radio" type="radio" name="r11"style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                            <label class="col-md-1">
                               
                                    <input class="primary-radio" type="radio" name="r11"style="height: 20px; width: 20px;vertical-align: middle">
                              
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p>
                                    Quan hệ thân mật với người nhiễm HIV hoặc có nguy cơ cao lây qua đường lây nhiễm
                                    HIV
                                </p>
                            </label>
                            <label class="col-lg-1">
                             
                                    <input class="primary-radio" type="radio" name="r13"style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                            <label class="col-md-1">
                            
                                    <input class="primary-radio" type="radio" name="r13"style="height: 20px; width: 20px;vertical-align: middle">
                               
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Quan hệ thân mật với người cùng giới</p>
                            </label>
                            <label class="col-lg-1">
                           
                                    <input class="primary-radio" type="radio" name="r15" style="height: 20px; width: 20px;vertical-align: middle">
                             
                            </label>
                            <label class="col-md-1">
                              
                                    <input class="primary-radio" type="radio" name="r15"style="height: 20px; width: 20px;vertical-align: middle">
                           
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Tiêm Vacxin phòng bệnh ?</p>
                            </label>
                            <label class="col-lg-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r17" style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r17" style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Sống trong vùng có dịch lưu hành (sốt rét, covid19...)?</p>
                            </label>
                            <label class="col-lg-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r19"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r19"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 ">
                                <p><b style="color:rgb(0, 0, 0);">4/ Trong vòng 1 tuần gần đây, quý vị có: </b> </p>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Bị cúm, ho, nhứt đầu, sốt..... </p>
                            </label>
                            <label class="col-lg-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r21"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r21"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Dùng thuốc kháng sinh, ASPIRIN, CORTICOID...?</p>
                            </label>
                            <label class="col-lg-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r23"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r23"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                        </div>

                        <div>
                            <label class="col-md-9 mt-10">
                                <p> Đến khám bác sĩ, làm xét nghiệm, chữa răng ?</p>
                            </label>
                            <label class="col-lg-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r25"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r25"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                        </div>

                        <div class="form-group" style="margin-top:10px">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);">
                                        5/ Quý vị hiện là đối tượng tàn tật hoặc hưởng trợ
                                        cấp tàn tật, nạn nhân chất độc màu da cam không?
                                    </b>
                                </p>
                            </label>
                            <label class="col-lg-1">

                                    <input class="primary-radio" type="radio" name="r27"style="height: 20px; width: 20px;vertical-align: middle">
                              
                            </label>
                            <label class="col-md-1">
                                <input class="primary-radio" type="radio" name="r27"style="height: 20px; width: 20px;vertical-align: middle">                              
                            </label>
                        </div>


                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);"> 6/ Câu hỏi dành cho phụ nữ : </b>Chị hiện có thai
                                    hoặc nuôi con dưới 12 tháng tuổi?
                                </p>
                            </label>
                            <label class="col-lg-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r29"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>
                                    <input class="primary-radio" type="radio" name="r39"style="height: 20px; width: 20px;vertical-align: middle">
                                </div>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-9 ">
                                <p>
                                    <b style="color:rgb(0, 0, 0);"> 7/ Bệnh khác : </b>
                                </p>
                                <input type="text" name="first_name" placeholder="Ghi rõ nếu có"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ghi rõ nếu có'" required class="single-input">
                            </label>
                            <label class="col-lg-1">
                                <div>

                                </div>
                            </label>
                            <label class="col-md-1">
                                <div>

                                </div>
                            </label>
                        </div>
                        <hr>
                        <div>
                            <label class="col-md-9 ">
                                <p>
                                    Tôi đã đọc, hiểu và trả lời trung thực những câu hỏi trên. Nếu tôi phát hiệt bất
                                    cứ thông tin gì liên quan tới an toànn cho đơn vị máu tôi đã hiến,
                                    tôi sẽ liên hệ ngày với Quý Bệnh Viện để đảm bảo an toàn cho người nhận máu của
                                    tôi.
                                    Hôm nay tôi hoàn toàn khỏe mạnh và sẵn sagnf tham gia hiến máu tình nguyện.
                                </p>
                            </label>
                            <label class="col-md-0">
                                <div class="">
                                </div>
                            </label>
                            <label class="col-md-2 text-center">
                                <div class="primary-checkbox center" style="margin-left: 40%;margin-bottom: 10%;height: 20px; width: 20px;vertical-align: middle">
                                    <input type="checkbox" id="default-checkbox" name=cb1>
                                    <label for="default-checkbox"></label>

                                </div>
                                <div>
                                    <h6>Tôi đồng ý</h6>
                                </div>

                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <ul class="text-center">
                @{
                    var session8 = (HiemMauNhanDao.Common.UserLogin)Session[HiemMauNhanDao.Common.CommonConstant.USER_SESSION];
                }
                @if (session8 == null)
                {
                    <li>
                        <a class="genric-btn primary-border circle warning" href="@Url.Action("Index", "LoginClient") ">Hãy đăng nhập</a>
                    </li>

                }
                else
                {
                    <li>
                        <a class="genric-btn primary-border circle " href="@Url.Action("DangKyHiemMau", "DTCHM")">Đăng ký tham gia</a>
                    </li>
                }   
                @*@if (session8.AuthorID == "Q04")
                {
                    <li>
                        <a class="btn_2 warning" href="@Url.Action("Index", "LoginClient") ">Tài khoản không hợp lệ</a>
                        <a>(vui lòng sử dụng tài khoản cá nhân)</a>
                    </li>
                }*@

            </ul>
            @*<div class="text-center">
                <a class="btn_2 " href="#">Đăng ký tham gia</a>
            </div>*@

        </div>
    </div>
</div>


