@{
    ViewBag.Title = "thongbao";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb_part breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h3>Vui lòng đăng xuất tài khoản</h3>
                        <h3>Để đăng ký sử dụng tài khoản khác</h3>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>


